# Compiled Object files
*.slo
*.lo
*.o
*.obj
Test*
action.in
gen/gen
gen/genTseitin
gen/genGraphe
bin/
resol
tseitin
colorie
core
*.sty

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#C::B
*.cbp
*.depend
*.layout
*.cbTemp

#XCode
*.xcodeproj

#Temps trucs
*.swp
*~

#Flex/Bison
logique_parser/location.hh
logique_parser/logiqueParser.hh
logique_parser/logiqueParser.hpp
logique_parser/logiqueParser.output
logique_parser/position.hh
logique_parser/stack.hh
logique_parser/logiqueParser.cpp
logique_parser/logiqueLexer.cpp
