# Compiled Object files
*.slo
*.lo
*.o
*.obj
Test*
action.in
gen/gen
gen/genTseitin
gen/genGraphe
bin/
resol
tseitin
colorie
congruence_solver
difference_solver
core
*.sty

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#C::B
*.cbp
*.depend
*.layout
*.cbTemp

#XCode
*.xcodeproj

#Temps trucs
*.swp
*~

#Flex/Bison
parser/*/location.hh
parser/*/*Parser.hh
parser/*/*Parser.hpp
parser/*/*Parser.output
parser/*/*Parser.cpp
parser/*/*Lexer.cpp
parser/*/position.hh
parser/*/stack.hh
